In [4]:
import pandas as pd

In [6]:
bbb = pd.read_csv("BBB-1.csv")

In [7]:
bbb

,acctnum,gender,state,zip,zip3,first,last,book$,nonbook$,total$,purch,child,youth,cook,do_it,refernce,art,geog,buyer
0,10001,M,NY,10605,106,49,29,109,248,357,10,3,2,2,0,1,0,2,0
1,10002,M,NY,10960,109,39,27,35,103,138,3,0,1,0,1,0,0,1,0
2,10003,F,PA,19146,191,19,15,25,147,172,2,0,0,2,0,0,0,0,0
3,10004,F,NJ,7016,70,7,7,15,257,272,1,0,0,0,0,1,0,0,0
4,10005,F,NY,10804,108,15,15,15,134,149,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,59996,F,NY,11967,119,9,9,15,12,27,1,1,0,0,0,0,0,0,0
49996,59997,F,NJ,8882,88,25,5,79,294,373,7,3,0,1,1,0,1,1,0
49997,59998,M,NJ,7410,74,3,3,15,178,193,1,0,0,0,0,1,0,0,0
49998,59999,M,NJ,7090,70,49,29,98,246,344,8,2,0,1,0,2,1,2,0
49999,60000,M,NY,11355,113,29,1,60,125,185,5,1,0,1,0,0,1,2,0

Step 1 — Explore the BBB dataset
Before we run any regressions, start by exploring the data. Look at the different variables and think about what kind of information they contain. Which variables are numeric (like last, purch, total$)? Which are categorical (like gender, product categories)? Our outcome of interest is buyer, coded 1 if the customer bought the Florence book and 0 otherwise. This matters because the type of regression we choose depends on whether the outcome is continuous or binary. Compute simple descriptive statistics: what is the mean and median of total$? What percentage of customers purchased (the overall buyer rate)? How does this break down by gender, or by product category? These quick checks give us a baseline intuition before we model.

In [ ]:
# data types


# mean and median of total$
average_spent = bbb['total$'].mean()

# total by gender
by_gender = bbb[]

# product purchased by gender



# totatl$ region

np.float64(208.31832)